/*
 * @Description: 
 * @Version: 2.0
 * @Autor: Party
 * @Date: 2019-11-15 11:09:48
 * @LastEditors: Party
 * @LastEditTime: 2020-05-08 16:59:15
 */

.header-container {
  background: #fff;
  padding: 0;

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .header-p {
    font-size: 22px;
    padding-left: 16px
  }

  .header-div {
    line-height: 64px;
    float: right;

    .header-ul {
      display: -ms-flexbox;
      display: flex;
      // width: 200px;
      width: 70px;

      li {
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
      }
    }
  }

  .menu-group li {
    padding: 0 24px;
    line-height: 2em;
  }
}